
body {
    background-color: rgb(127, 199, 127);
    margin-left: 130px;
    text-align: center;
    display: block;

}

.nav {
    outline: solid 10px;
    background-color: black;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 120px;
    margin-right: 200px;
    position: fixed;
    top: 0;
    left: 0;
}

.contact {
    display: flex;
    flex-direction: column;
}

#form_container {
    margin: auto;
    justify-content: center;
    width: max-content;
    padding: 75px;
}


#nav-link {
    padding: 25px;
    text-decoration: none;
    color: white;
    overflow: hidden;
}

#nav-link:hover {
    background-color: white;
    color: black;
}



img {
    max-width: 400px;
    max-height: max-content;
    border-radius: 30px;
    margin: 10px auto;
    border: solid 5px  rgba(62, 119, 62);
    align-self: center;
}

.header-wrap {
    border: solid 5px;
    border-radius: 25px 25%;
    background-color: rgba(62, 119, 62);
    width: 400px;
    margin: auto;
}

.container {
    border: solid rgb(62, 119, 62) 20px;
    display: flex;
    margin:2% 10%;
    padding: 15px;
    background-color: black;
    color: white;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 5px 100px;
}

.txt-wrap {
    width: 50%;
    flex-grow: 3;
    display: flex;
    align-items: center;
    margin-bottom: 15%;
}

#sum-intro {
    font-family: serif;
    color: rgb(62, 119, 62);
    width: 100%;   
}

#bot-tag {
    margin-left: auto;
}

footer {
    bottom: 0;
}

#disclaimer {
    bottom: 0;
    margin: 0px 20px;
    color: rgba(255, 0, 0, 0.486);
    font-style: italic;
}

.isthisjokefunny {
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(107, 190, 107);
}

@media(max-width: 1516px) {
    img {
        max-width: 300px;
        margin: 0;
    }

    .container {
        gap: 0;
    }

}

@media(max-width: 1000px) {
    .container {
        flex-direction: column;
        padding: 0;
        
    }

    .txt-wrap {
        margin: 0 auto;
        width: 95%;

    }

    #bot-tag {
        margin-left: 0;
    }

    body {
        margin: 200px 0 0;
    }

    .nav {
        height: auto;
        flex-direction: row;
        width: calc(100% - 100px);
        justify-content: space-between;
        border:solid black 6px;        
        padding: 0 50px;
    }

    img {
        border-radius: 100%;
        margin-bottom: 50px;
    }
}

