.nav {
    outline: solid 10px;
    padding: 25px;
    text-align: center;
    background-color: black;
    position: sticky;
    top: 0;
    text-align-last: justify;
    z-index: 100;
}

body {
    background-color: rgb(127, 199, 127);
}

.contact {
    display: flex;
    flex-direction: column;
}

#form_container {
    margin: 100px;
}


#nav-link {
    padding: 25px;
    outline: solid black;
    margin: relative;
    text-decoration: none;
    color: white;
    background-color: black;
    overflow: hidden;
}

#nav-link:hover {
    background-color: white;
    color: black;
}

#index-pic {
    max-width: 400px;
    max-height: max-content;
    border-radius: 30px;
    margin-bottom: 50px;
}

.container {
    border: solid rgb(62, 119, 62) 20px;
    display: flex;
    margin:2% 10%;
    padding: 15px;
    background-color: black;
    color: white;
    text-align: center;
    /* position: relative; */
    /* height: 500px; */
}

/* .textflex {
    text-align: center;;
} */

#sum-intro {
    font-family: serif;
    color: rgb(62, 119, 62);
    
}

#sum-txt {
    margin: 15px;
    padding: 3px 10px;
}

#index-tag {
    margin: 50px 10px;
}

/* #bot-tag {
    position: absolute;
    bottom: 0;
    right: 420px;
    margin-top: 15px;
} */

#bot-tag {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right:30px ;
}

footer {
    position: sticky;
    bottom: 0;
}

#disclaimer {
    /* position: absolute; */
    bottom: 0;
    margin: 0px 20px;
    color: rgba(255, 0, 0, 0.486);
    font-style: italic;
}

@media(max-width: 900px) {
    /* .container .textflex {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    transform: none; */
    /* display: flex;
    flex-flow: column wrap; */

    .container {
        display: flex;
        flex-flow: row wrap-reverse;
        align-items: flex-start;
    }
/* 
    .textflex {

    }

    #disclaimer {
    
    } */

    #sum-intro {
        order: 1;
        flex: 1 1 100%;
    }
    #bot-tag {
        font-size: small;
        position: static;
        margin-top: 0px;
    }

    #index-pic {
        max-width: 100px;
        max-height: max-content;
        border-radius: 100%;
        align-self: auto;
        margin-bottom: 0px;
    }

    /* #pic-wrap {
        order: ;
    } */

    .nav {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 120px;
        position: fixed;
        margin-right: 100px;
        height: 100%;
        overflow-x: hidden;
        left: 0;
    }

    body {
        margin-left: 200px;
    }
}
